/.tmp/
application/cache/download_*.json
application/cache/download_auth_key.txt
application/cache/download_proxy_*.json
application/cache/download_cookie_*.txt
application/cache/download_tmp_*.bin
application/cache/debug_cookie_*.txt
application/cache/audio_preview_*.json
application/cache/lyrics_*.txt
application/cache/*.tmp
application/cache/music_data/
application/logs/*
!application/logs/index.html
